{
  "openapi": "3.0.3",
  "info": {
    "title": "{{title}}",
    "description": "{{description}}",
    "version": "{{version}}"
  },
  "paths": {
    "{{endpoint}}": {
      "{{method_lower}}": {
        "summary": "{{title}}",
        "description": "{{description}}",
        "operationId": "{{operation_id}}",
        "tags": [{{#tags}}"{{.}}"{{^last}}, {{/last}}{{/tags}}],
        {{#parameters}}
        "parameters": [
          {{#parameters}}
          {
            "name": "{{name}}",
            "in": "{{in}}",
            "description": "{{description}}",
            "required": {{required}},
            "schema": {{schema}}
          }{{^last}},{{/last}}
          {{/parameters}}
        ],
        {{/parameters}}
        {{#request_body}}
        "requestBody": {
          "description": "{{description}}",
          "required": true,
          "content": {
            "application/json": {
              "schema": {{schema}}
            }
          }
        },
        {{/request_body}}
        "responses": {
          {{#responses}}
          "{{code}}": {
            "description": "{{description}}"{{#content}},
            "content": {
              "application/json": {
                "schema": {{schema}}
              }
            }{{/content}}
          }{{^last}},{{/last}}
          {{/responses}}
        },
        {{#authentication}}
        "security": [
          {
            "{{type}}": []
          }
        ],
        {{/authentication}}
        "x-code-samples": [
          {{#code_samples}}
          {
            "lang": "{{lang}}",
            "source": "{{source}}"
          }{{^last}},{{/last}}
          {{/code_samples}}
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      {{#authentication}}
      "{{type}}": {
        "type": "http",
        "scheme": "{{scheme}}",
        "bearerFormat": "{{format}}"
      }
      {{/authentication}}
    }
  }
}
