# API Specification: {{title}}

**Version**: {{version}}
**Date**: {{date}}
**Author**: {{author}}
**Base URL**: `{{base_url}}`
{{#tags}}**Tags**: {{#tags}}{{.}}{{^last}}, {{/last}}{{/tags}}{{/tags}}

## Overview

{{overview}}

## Authentication

{{#authentication}}
**Method**: {{method}}

{{description}}

**Example**:
```http
{{example}}
```

{{/authentication}}
{{^authentication}}
(Authentication to be documented)
{{/authentication}}

## Endpoints

{{#endpoints}}
### `{{method}} {{path}}`

{{description}}

**Request**:

{{#request.headers}}
Headers:
```http
{{#request.headers}}
{{name}}: {{value}}
{{/request.headers}}
```
{{/request.headers}}

{{#request.parameters}}
Parameters:
{{#request.parameters}}
- `{{name}}` ({{type}}, {{required}}) - {{description}}
{{/request.parameters}}
{{/request.parameters}}

{{#request.body}}
Body:
```json
{{request.body}}
```
{{/request.body}}

**Response**:

{{#response.success}}
Success ({{response.success.code}}):
```json
{{response.success.body}}
```
{{/response.success}}

{{#response.error}}
Error ({{response.error.code}}):
```json
{{response.error.body}}
```
{{/response.error}}

**Example**:
```bash
curl -X {{method}} {{../base_url}}{{path}} \
{{#request.headers}}
  -H "{{name}}: {{value}}" \
{{/request.headers}}
{{#request.body}}
  -d '{{request.body}}'
{{/request.body}}
```

---

{{/endpoints}}
{{^endpoints}}
(API endpoints to be documented)
{{/endpoints}}

## Data Models

{{#models}}
### {{name}}

{{description}}

```json
{{schema}}
```

**Fields**:
{{#fields}}
- `{{name}}` ({{type}}, {{required}}) - {{description}}
{{/fields}}

{{/models}}
{{^models}}
(Data models to be documented)
{{/models}}

## Error Codes

{{#errors}}
- `{{code}}` - {{message}}: {{description}}
{{/errors}}
{{^errors}}
(Error codes to be documented)
{{/errors}}

## Rate Limiting

{{#rate_limiting}}
{{rate_limiting}}
{{/rate_limiting}}
{{^rate_limiting}}
(Rate limiting policy to be documented)
{{/rate_limiting}}

## Pagination

{{#pagination}}
{{pagination}}
{{/pagination}}
{{^pagination}}
(Pagination mechanism to be documented)
{{/pagination}}

## Webhooks

{{#webhooks}}
### {{name}}

{{description}}

**Payload**:
```json
{{payload}}
```

{{/webhooks}}
{{^webhooks}}
(No webhooks available)
{{/webhooks}}

## SDKs and Client Libraries

{{#sdks}}
- **{{language}}**: {{repository}}
{{/sdks}}
{{^sdks}}
(SDKs to be developed)
{{/sdks}}

## Changelog

{{#changelog}}
### Version {{version}} ({{date}})

{{#changes}}
- {{.}}
{{/changes}}

{{/changelog}}
{{^changelog}}
(API changelog to be maintained)
{{/changelog}}

---

*This API specification was generated by fractary-docs plugin*
